* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  border: solid 1px black;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(45deg, #222880 1.18%, #6549c9 100%);
    color: white;
    padding: 20px;
    width: 50%;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.meme {
  position: relative;
  width: 50%;
}

.meme-input {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid #f00; */
  gap: 1rem;
  margin: 1rem 0;

}

.meme-input input {
  border-radius: 3px;
}

.meme-button button{
  color: white;
  background-color: #222880;
  width: 100%;
  border-radius: 5px;
  height: 2rem;

}

.meme-image {
  text-align: center;
  margin-top: 1rem;
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  
}

.meme-image img {
  width: 100%;
}


.top-text{
  position: absolute;
  left: 40%;
  top: 5px;
  color:#777;
  font-size: 4rem;
  margin: 0;
  
}

.bottom-text{
  position: absolute;
  
  top: 85%;
  left: 40%;
  color: #777;
  font-size: 4rem;
  margin: 0;
}
